.profiler-result,
.profiler-queries {
  color: #555;
  line-height: 1;
  font-size: 12px;
}
.profiler-result pre,
.profiler-queries pre,
.profiler-result code,
.profiler-queries code,
.profiler-result label,
.profiler-queries label,
.profiler-result table,
.profiler-queries table,
.profiler-result tbody,
.profiler-queries tbody,
.profiler-result thead,
.profiler-queries thead,
.profiler-result tfoot,
.profiler-queries tfoot,
.profiler-result tr,
.profiler-queries tr,
.profiler-result th,
.profiler-queries th,
.profiler-result td,
.profiler-queries td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent;
  overflow: visible;
  max-height: none;
}
.profiler-result pre,
.profiler-queries pre,
.profiler-result code,
.profiler-queries code {
  font-family: Fira Code, Consolas, monospace, serif;
  font-variant-ligatures: none;
}
.profiler-result table,
.profiler-queries table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.profiler-result a,
.profiler-queries a {
  cursor: pointer;
  color: #0077cc;
  text-decoration: none;
}
.profiler-result a:hover,
.profiler-queries a:hover {
  text-decoration: underline;
}
.profiler-result {
  font-family: sans-serif;
}
.profiler-result.show-columns th.profiler-more-columns,
.profiler-result.show-columns td.profiler-more-columns {
  display: table-cell !important;
}
.profiler-result.show-columns a.profiler-more-columns {
  display: inline-block;
}
.profiler-result.show-columns .profiler-links span a:nth-child(1) {
  display: none;
}
.profiler-result.show-trivial tr.profiler-trivial {
  display: table-row !important;
}
.profiler-result.show-trivial a.profiler-trivial {
  display: inline-block;
}
.profiler-result.show-trivial .profiler-links span a:nth-child(3) {
  display: none;
}
.profiler-result table.profiler-client-timings {
  margin-top: 10px;
}
.profiler-result .profiler-label {
  color: #555555;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profiler-result .profiler-unit {
  color: #aaaaaa;
}
.profiler-result .profiler-more-columns {
  display: none;
}
.profiler-result .profiler-trivial {
  display: none;
}
.profiler-result .profiler-trivial:first-child {
  display: table-row;
}
.profiler-result .profiler-trivial td,
.profiler-result .profiler-trivial td * {
  color: #aaaaaa !important;
}
.profiler-result .profiler-number {
  color: #111111;
}
.profiler-result .profiler-info > div {
  white-space: nowrap;
  overflow: hidden;
}
.profiler-result .profiler-info > div > div {
  display: inline-block;
}
.profiler-result .profiler-info .profiler-name {
  display: inline-block;
  font-weight: bold;
  float: left;
}
.profiler-result .profiler-info .profiler-machine-name,
.profiler-result .profiler-info .profiler-started {
  text-align: right;
  float: right;
}
.profiler-result .profiler-info .profiler-server-time {
  white-space: nowrap;
}
.profiler-result .profiler-timings th {
  background-color: #fff;
  color: #aaaaaa;
  text-align: right;
}
.profiler-result .profiler-timings th,
.profiler-result .profiler-timings td {
  white-space: nowrap;
}
.profiler-result .profiler-timings .profiler-show-more {
  display: none;
}
.profiler-result .profiler-timings .profiler-duration {
  font-family: Consolas, monospace, serif;
  color: #111111;
  text-align: right;
}
.profiler-result .profiler-timings .profiler-indent {
  letter-spacing: 4px;
}
.profiler-result .profiler-timings .profiler-queries-show .profiler-number,
.profiler-result .profiler-timings .profiler-queries-show .profiler-unit {
  color: #0077cc;
}
.profiler-result .profiler-timings .profiler-queries-duration {
  padding-left: 6px;
}
.profiler-result .profiler-custom-timing-overview {
  float: right;
  margin: 10px 0;
  width: auto;
}
.profiler-result .profiler-custom-timing-overview td {
  white-space: nowrap;
  text-align: right;
}
.profiler-result .profiler-custom-timing-overview td:last-child {
  padding-left: 8px;
}
.profiler-result .profiler-links {
  margin-top: 10px;
  clear: both;
}
.profiler-result .profiler-links span {
  float: right;
}
.profiler-result .profiler-links a {
  font-size: 95%;
  margin-left: 12px;
}
.profiler-result .profiler-links a:first-child {
  margin-left: 0;
}
.profiler-warning {
  color: #f00;
}
@keyframes profiler-fadeIn {
  from {
    background-color: #FFB;
  }
  to {
    background-color: none;
  }
}
.profiler-overlay {
  z-index: 2147483642;
}
.profiler-overlay .profiler-overlay-bg {
  z-index: 2147483643;
  background: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  min-width: 100%;
  position: fixed;
  height: calc(100%);
}
.profiler-overlay .profiler-queries {
  display: block;
  z-index: 2147483644;
  top: 25px;
  left: 25px;
  right: 25px;
  position: fixed;
  max-height: calc(100vh - 50px);
  background-color: #fff;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: auto;
}
.profiler-queries {
  font-family: sans-serif;
}
.profiler-queries pre {
  white-space: pre-wrap;
}
.profiler-queries div {
  text-align: left;
}
.profiler-queries table {
  table-layout: fixed;
}
.profiler-queries td,
.profiler-queries th {
  padding: 8px;
  border-bottom: solid 1px #efefef;
}
.profiler-queries td:first-child,
.profiler-queries th:first-child {
  width: 250px;
  text-align: right;
}
.profiler-queries td:first-child div,
.profiler-queries th:first-child div {
  text-align: right;
  margin-bottom: 5px;
  word-break: break-word;
}
.profiler-queries td:last-child,
.profiler-queries th:last-child {
  text-align: left;
  padding-right: 15px;
}
.profiler-queries .highlight {
  animation: profiler-fadeIn 2s 1;
}
.profiler-queries .profiler-odd {
  background-color: #f5f5f5;
}
.profiler-queries .profiler-stack-trace {
  padding-bottom: 1px;
  color: #aab;
  margin-bottom: 5px;
}
.profiler-queries .profiler-since-start,
.profiler-queries .profiler-duration {
  text-align: right;
}
.profiler-queries .profiler-gap-info {
  background-color: #e1e5ed;
  opacity: 0.8;
  color: #444;
}
.profiler-queries .profiler-gap-info .query {
  word-break: break-all;
}
.profiler-queries .profiler-gap-info .profiler-unit {
  color: #777;
}
.profiler-queries .profiler-gap-info.profiler-trivial-gap {
  display: none;
}
.profiler-queries .profiler-trivial-gap-container {
  text-align: center;
  margin: 8px 0;
}
.profiler-queries .profiler-call-type {
  font-weight: bold;
}
.profiler-queries .str {
  color: #800000;
}
.profiler-queries .kwd {
  color: #00008b;
}
.profiler-queries .com {
  color: #808080;
}
.profiler-queries .typ {
  color: #2b91af;
}
.profiler-queries .lit {
  color: #800000;
}
.profiler-queries .pun {
  color: #000000;
}
.profiler-queries .pln {
  color: #000000;
}
.profiler-queries .tag {
  color: #800000;
}
.profiler-queries .atn {
  color: #ff0000;
}
.profiler-queries .atv {
  color: #0000ff;
}
.profiler-queries .dec {
  color: #800080;
}
.profiler-results {
  z-index: 2147483641;
  position: fixed;
  top: 0;
}
.profiler-results.profiler-left,
.profiler-results.profiler-bottomleft {
  left: 0;
}
.profiler-results.profiler-left .profiler-controls,
.profiler-results.profiler-left.profiler-no-controls .profiler-result:last-child .profiler-button {
  border-bottom-right-radius: 10px;
}
.profiler-results.profiler-left .profiler-button,
.profiler-results.profiler-left .profiler-controls {
  border-right: solid 0.5px #ababab;
}
.profiler-results.profiler-right {
  right: 0;
}
.profiler-results.profiler-right .profiler-controls,
.profiler-results.profiler-right.profiler-no-controls .profiler-result:last-child .profiler-button {
  border-bottom-left-radius: 10px;
}
.profiler-results.profiler-right .profiler-button,
.profiler-results.profiler-right .profiler-controls {
  border-left: solid 0.5px #ababab;
}
.profiler-results.profiler-bottomleft {
  top: inherit;
  bottom: 0;
}
.profiler-results.profiler-bottomleft .profiler-result:first-child .profiler-button {
  border-top-right-radius: 10px;
}
.profiler-results.profiler-bottomleft .profiler-button,
.profiler-results.profiler-bottomleft .profiler-controls {
  border-right: solid 0.5px #ababab;
}
.profiler-results.profiler-bottomleft .profiler-result .profiler-button,
.profiler-results.profiler-bottomleft .profiler-controls {
  border-bottom: 0;
  border-top: solid 0.5px #ababab;
}
.profiler-results.profiler-bottomright {
  top: inherit;
  bottom: 0;
  right: 0;
}
.profiler-results.profiler-bottomright .profiler-result:first-child .profiler-button {
  border-top-left-radius: 10px;
}
.profiler-results.profiler-bottomright .profiler-button,
.profiler-results.profiler-bottomright .profiler-controls {
  border-left: solid 0.5px #ababab;
}
.profiler-results.profiler-bottomright .profiler-result .profiler-button,
.profiler-results.profiler-bottomright .profiler-controls {
  border-bottom: 0;
  border-top: solid 0.5px #ababab;
}
.profiler-results .profiler-button {
  user-select: none;
}
.profiler-results .profiler-button .profiler-warning {
  font-weight: bold;
}
.profiler-results .profiler-button > .profiler-number {
  font-family: Consolas, monospace, serif;
}
.profiler-results .profiler-controls {
  display: none;
}
.profiler-results .profiler-button,
.profiler-results .profiler-controls {
  z-index: 2147483640;
  border-bottom: solid 0.5px #ababab;
  background-color: #fff;
  padding: 4px 8px;
  text-align: right;
  cursor: pointer;
}
.profiler-results .profiler-result {
  position: relative;
}
.profiler-results .profiler-result.active .profiler-button {
  background-color: #207ab7;
  animation: none;
  border-radius: 0 !important;
}
.profiler-results .profiler-result.active .profiler-button .profiler-number,
.profiler-results .profiler-result.active .profiler-button .profiler-warning {
  color: #fff;
  font-weight: bold;
}
.profiler-results .profiler-result.active .profiler-button .profiler-unit {
  color: #fff;
  font-weight: normal;
}
.profiler-results .profiler-result.active .profiler-popup {
  display: block;
}
.profiler-results.new .profiler-button {
  animation: profiler-fadeIn 2s 1;
}
.profiler-results .profiler-controls {
  display: block;
  font-size: 12px;
  font-family: Consolas, monospace, serif;
  cursor: default;
  text-align: center;
}
.profiler-results .profiler-controls span {
  border-right: 1px solid #aaaaaa;
  padding-right: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.profiler-results .profiler-controls span:last-child {
  border-right: none;
}
.profiler-results .profiler-popup {
  display: none;
  z-index: 2147483641;
  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  text-align: left;
  line-height: 18px;
  overflow: auto;
  box-shadow: 0 1px 10px #555555;
  border-radius: 2px;
}
.profiler-results .profiler-popup .profiler-info {
  margin-bottom: 3px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ddd;
}
.profiler-results .profiler-popup .profiler-info .profiler-name {
  font-size: 1.1em;
}
.profiler-results .profiler-popup .profiler-info .profiler-overall-duration {
  color: #aaaaaa;
}
.profiler-results .profiler-popup .profiler-timings th,
.profiler-results .profiler-popup .profiler-timings td {
  padding: 0 6px;
}
.profiler-results .profiler-popup .profiler-timings th {
  font-size: 95%;
  padding-bottom: 3px;
}
.profiler-results .profiler-popup .profiler-timings .profiler-label {
  max-width: 275px;
}
.profiler-results .profiler-queries {
  display: none;
}
.profiler-results.profiler-min .profiler-result {
  display: none;
}
.profiler-results.profiler-min .profiler-controls span {
  display: none;
}
.profiler-results.profiler-min .profiler-controls .profiler-min-max {
  border-right: none;
  padding: 0;
  margin: 0;
}
.profiler-result-full .profiler-result {
  width: 950px;
  margin: 25px auto;
}
.profiler-result-full .profiler-result .profiler-button {
  display: none;
}
.profiler-result-full .profiler-result .profiler-popup .profiler-info {
  font-size: 18px;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
.profiler-result-full .profiler-result .profiler-popup .profiler-info .profiler-name {
  margin-bottom: 5px;
}
.profiler-result-full .profiler-result .profiler-popup .profiler-info .profiler-overall-duration,
.profiler-result-full .profiler-result .profiler-popup .profiler-info .profiler-started {
  font-size: 80%;
  color: #888;
}
.profiler-result-full .profiler-result .profiler-popup .profiler-info .profiler-overall-duration {
  padding-right: 20px;
}
.profiler-result-full .profiler-result .profiler-popup .profiler-timings td,
.profiler-result-full .profiler-result .profiler-popup .profiler-timings th {
  font-size: 13px;
  padding-left: 8px;
  padding-right: 8px;
}
.profiler-result-full .profiler-result .profiler-popup .profiler-timings th {
  padding-bottom: 7px;
}
.profiler-result-full .profiler-result .profiler-popup .profiler-timings td {
  padding-bottom: 4px;
}
.profiler-result-full .profiler-result .profiler-popup .profiler-timings td:first-child {
  padding-left: 10px;
}
.profiler-result-full .profiler-result .profiler-popup .profiler-timings .profiler-label {
  max-width: 550px;
}
.profiler-result-full .profiler-result .profiler-queries {
  margin: 20px 0;
}
.profiler-result-full .profiler-result .profiler-queries th {
  font-size: 16px;
  color: #555;
}
.profiler-result-full .profiler-share-profiler-results {
  display: none;
}
table.profiler-results-index {
  border: 0;
  border-spacing: 0;
  font-size: 12px;
}
table.profiler-results-index tbody tr:nth-child(odd) {
  background-color: #e5e5e5;
}
table.profiler-results-index tbody tr:nth-child(even) {
  background-color: #fff;
}
table.profiler-results-index tbody td {
  text-align: center;
}
table.profiler-results-index tbody td:first-child {
  text-align: left;
}
table.profiler-results-index tbody td:nth-child(3) {
  color: #666;
}
table.profiler-results-index tbody td[colspan="3"] {
  color: #aaaaaa;
}
table.profiler-results-index thead tr {
  color: #444;
}
table.profiler-results-index thead tr th {
  padding: 5px 15px;
}
table.profiler-results-index td {
  padding: 8px;
}