<script id="profilerTemplate" type="text/x-jquery-tmpl">
  <div class="profiler-result">
    <div class="profiler-button{{if HasDuplicateCustomTimings}} profiler-warning{{/if}}" title="${Name}">
      <span class="profiler-number">
        ${MiniProfiler.formatDuration(DurationMilliseconds)} <span class="profiler-unit">ms</span>
      </span>
      {{if HasDuplicateCustomTimings}}<span class="profiler-nuclear">!</span>{{/if}}
    </div>

    <div class="profiler-popup">
      <div class="profiler-info">
        <span class="profiler-name">
          ${Name} <span class="profiler-overall-duration">(${MiniProfiler.formatDuration(DurationMilliseconds)} ms)</span>
        </span>
        <span class="profiler-server-time">${MachineName} on ${Started ? Started.toUTCString() : ''}</span>
      </div>
      <div class="profiler-output">
        <table class="profiler-timings">
          <thead>
            <tr>
              <th></th>
              <th>duration (ms)</th>
              <th class="profiler-show-more">with children (ms)</th>
              <th class="time-from-start profiler-show-more">from start (ms)</th>
			  {{each CustomTimingStats}}
              <th title="call count">${$index.toLowerCase()} (ms)</th>
			  {{/each}}
            </tr>
          </thead>
          <tbody>
	    {{tmpl({timing:Root, page:this.data}) "#timingTemplate"}}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"></td>
              <td class="profiler-show-more" colspan="2"></td>
            </tr>
          </tfoot>
        </table>
		{{if HasCustomTimings}}
        <table class="profiler-custom-timing-overview">
		  {{each CustomTimingStats}}
          <tr title="${$value.Count} ${$index.toLowerCase()} calls spent ${MiniProfiler.formatDuration($value.Duration)} ms of total request time">
            <td class="profiler-number">
              ${$index}:
            </td>
            <td class="profiler-number">
              ${MiniProfiler.formatDuration($stat.Duration / DurationMilliseconds * 100)} <span class="profiler-unit">%</span>
            </td>
          </tr>
		  {{/each}}
        </table>
		{{/if}}

      {{if ClientTimings}}
        <table class="profiler-timings profiler-client-timings">
          <thead>
            <tr>
              <th style="text-align:left">client event</th>
              <th>duration (ms)</th>
              <th class="profiler-show-more">from start (ms)</th>
            </tr>
          </thead>
          <tbody>
			{{each MiniProfiler.getClientTimings(ClientTimings)}}
            <tr class="{{if $value.isTrivial}}profiler-trivial{{/if}}">
              <td class="profiler-label">${$value.name}</td>
              <td class="profiler-duration">
				{{if $value.duration >= 0}}
                <span class="profiler-unit"></span>${MiniProfiler.formatDuration($value.duration)}
                {{/if}}
              </td>
              <td class="profiler-duration time-from-start profiler-show-more">
                <span class="profiler-unit">+</span>${MiniProfiler.formatDuration($value.start)}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}

      <div class="profiler-links">
        <a href="${MiniProfiler.shareUrl(Id)}" class="profiler-share-profiler-results" target="_blank">share</a>
		{{each CustomLinks}}
          <a href="${$value}" class="profiler-custom-link" target="_blank">${$index}</a>
        {{/each}}
        <span class="profiler-toggleable-links">
          <a class="profiler-toggle-hidden-columns" data-toggle-class="profiler-show-more" data-hide-text="fewer columns">
            more columns
          </a>
          {{if HasTrivialTimings}}
            <a class="profiler-toggle-trivial" data-toggle-class="profiler-trivial" data-hide-text="hide trivial" title="toggles any rows with &lt; ${TrivialMilliseconds} ms duration">
              show trivial
            </a>
          {{/if}}
        </span>
      </div>
    </div>
  </div>

  {{if HasCustomTimings}}
    <div class="profiler-queries">
      <table>
      <thead>
        <tr>
          <th style="text-align:right">step<br />time from start<br />call type<br />duration</th>
          <th style="text-align:left">call stack<br />call</th>
        </tr>
      </thead>
      <tbody>
	    {{each MiniProfiler.getCustomTimings(Root)}}
			{{tmpl({g:$value.prevGap}) "#customGapTemplate"}}
			{{tmpl({i:$index, s:$value}) "#customTimingTemplate"}}
			{{if $value.nextGap}}
			  {{tmpl({g:$value.nextGap}) "#customGapTemplate"}}
			{{/if}}
		{{/each}}
      </tbody>
      </table>
      <p class="profiler-trivial-gap-container">
        <a class="profiler-toggle-trivial-gaps" href="#">show trivial gaps</a>
      </p>
    </div>
  {{/if}}
  </div>
</script>

<script id="timingTemplate" type="text/x-jquery-tmpl">
  <tr class="${timing.IsTrivial ? 'profiler-trivial' : ''}" data-timing-id="${timing.Id}">
    <td class="profiler-label" title="{{if timing.Name && timing.Name.length > 45}}${timing.Name}{{/if}}">
      <span class="profiler-indent">${MiniProfiler.renderIndent(timing.Depth)}</span> ${timing.Name.slice(0,45)}{{if timing.Name && timing.Name.length > 45}}...{{/if}}
    </td>
    <td class="profiler-duration" title="duration of this step without any children's durations">
      ${MiniProfiler.formatDuration(timing.DurationWithoutChildrenMilliseconds)}
    </td>
    <td class="profiler-duration profiler-show-more" title="duration of this step and its children">
      ${MiniProfiler.formatDuration(timing.DurationMilliseconds)}
    </td>
    <td class="profiler-duration profiler-show-more time-from-start" title="time elapsed since profiling started">
      <span class="profiler-unit">+</span>${MiniProfiler.formatDuration(timing.StartMilliseconds)}
    </td>
  {{each page && page.CustomTimingStats}}
	{{if timing.CustomTimings[$index]}}
    <td class="profiler-duration ${timing.HasDuplicateCustomTimings[$index] ? 'profiler-warning' : ''}">
      <a class="profiler-queries-show" title="${MiniProfiler.formatDuration(timing.CustomTimingStats[$index].Duration)} ms in ${timing.CustomTimings[$index].length} ${$index} calls${timing.HasDuplicateCustomTimings[$index] ? '; duplicate calls detected!': ''}">
        ${MiniProfiler.formatDuration(timing.CustomTimingStats[$index].Duration)}
        (${timing.CustomTimings[$index].length}{{if timing.HasDuplicateCustomTimings[$index]}}<span class="profiler-nuclear">!</span>{{/if}})
      </a>
    </td>
    {{else}}
    <td></td>
    {{/if}}
  {{/each}}
  </tr>
  {{each timing.Children}}
	{{tmpl({timing:$value, page:page}) "#timingTemplate"}}
  {{/each}}
</script>

<script id="customTimingTemplate" type="text/x-jquery-tmpl">
  <tr class="{{if i % 2 == 1}}profiler-odd{{/if}}" data-timing-id="${s.ParentTimingId}">
    <td class="profiler-info">
      <div>${s.ParentTimingName}</div>
      <div class="profiler-number"><span class="profiler-unit">T+</span>${MiniProfiler.formatDuration(s.StartMilliseconds)} <span class="profiler-unit">ms</span></div>
      <div>
        {{if s.IsDuplicate}}<span class="profiler-warning">DUPLICATE</span>{{/if}}
        ${s.CallType}${!s.ExecuteType || s.CallType == s.ExecuteType ? "" : " - " + s.ExecuteType}
      </div>
      <div title="{{if s.FirstFetchDurationMilliseconds}}first result fetched: ${s.FirstFetchDurationMilliseconds}ms{{/if}}">${MiniProfiler.formatDuration(s.DurationMilliseconds)} <span class="profiler-unit">ms</span></div>
    </td>
    <td>
      <div class="query">
        <pre class="profiler-stack-trace">${s.StackTraceSnippet}</pre>
        <pre class="prettyprint lang-${s.CallType}"><code>${s.CommandString}</code></pre>
      </div>
    </td>
  </tr>
</script>

<script id="customGapTemplate" type="text/x-jquery-tmpl">
  <tr class="profiler-gap-info{{if g.duration < 4}} profiler-trivial-gaps{{/if}}">
    <td class="profiler-info">
      ${g.duration} <span class="profiler-unit">ms</span>
    </td>
    <td class="query">
      <div>${g.topReason.name} &mdash; ${g.topReason.duration.toFixed(2)} <span class="profiler-unit">ms</span></div>
    </td>
  </tr>
</script>

<script id="tableTemplate" type="text/x-jquery-tmpl">
  <table class="profiler-results-index">
    <thead>
      <tr>
        <th>Name</th>
		<th>Server</th>
        <th>Started</th>
        <th>Total Duration</th>
        <th>Request Start</th>
        <th>Response Start</th>
        <th>Dom Complete</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</script>

<script id="rowTemplate" type="text/x-jquery-tmpl">
  <tr>
    <td><a href="${MiniProfiler.path}results?id=${Id}">${Name}</a></td>
    <td>${MachineName}</td>
    <td class="profiler-results-index-date">${Started}</td>
    <td class="profiler-results-index-time">${DurationMilliseconds}</td>
    {{if ClientTimings}}
    <td class="profiler-results-index-time">${MiniProfiler.getClientTimingByName(ClientTimings,"Request Start").Start}</td>
    <td class="profiler-results-index-time">${MiniProfiler.getClientTimingByName(ClientTimings,"Response").Start}</td>
    <td class="profiler-results-index-time">${MiniProfiler.getClientTimingByName(ClientTimings,"Dom Complete").Start}</td>
    {{else}}
    <td colspan="3" class="profiler-results-none">(no client timings)</td>
    {{/if}}
  </tr>
</script>
