_ReSharper*
bin
obj
*.suo
**/App_Data/*.sqlite
*.user
*.sdf
*.nupkgs
nuget.exe
*.*~
*.swp
.DS_Store
tmp
*~
.DotSettings
*StyleCop*
*.ncrunchsolution
*.GhostDoc.xml
*.ncrunchproject
packages/**/*.*
.vs/*
docs/_site
BenchmarkDotNet.Artifacts
samples/Samples.Mvc5/Properties/launchSettings.json
src/MiniProfiler.Shared/ui/lib/MiniProfiler.js
src/MiniProfiler.Shared/ui/lib/MiniProfiler.js.map
src/MiniProfiler.Shared/ui/includes.js
src/MiniProfiler.Shared/ui/includes.min.js
tests/MiniProfiler.Tests/Test-*.xml
