_ReSharper*
bin
obj
*.suo
**/App_Data/*.sqlite
*.user
*.sdf
*.nupkgs
nuget.exe
*.*~
*.swp
.DS_Store
tmp
*~
.DotSettings
*StyleCop*
*.ncrunchsolution
*.GhostDoc.xml
*.ncrunchproject
packages/**/*.*
.vs/*
docs/_site
BenchmarkDotNet.Artifacts
samples/Samples.Mvc5/Properties/launchSettings.json