@using StackExchange.Profiling
@using SampleWeb.Models
@model MongoDemoModel
@{
    var profiler = MiniProfiler.Current;

    using (profiler.Step("Some complex thinking"))
    {
        System.Threading.Thread.Sleep(25);
    }
}
@section head 
{
}

<h2>MongoDB MiniProfiler Sample</h2>

<div>
    <h3>Mongo Data Demo</h3>
    <table>
        <tr>
            <th>
                Description
            </th>
            <th>
                Value
            </th>
        </tr>
        <tr>
            <td>
                Foo collection records count
            </td>
            <td>
                @Model.FooCount
            </td>
        </tr>
        <tr>
            <td>
                Foo collection records count with query
            </td>
            <td>
                @Model.FooCountQuery
            </td>
        </tr>
        <tr>
            <td>
                Aggregation result document
            </td>
            <td>
                <pre>@Model.AggregateResult</pre>
            </td>
        </tr>
    </table>
</div>
