@{
    ViewBag.Title = "Home Page";
    var profiler = MiniProfiler.Current;

    using (profiler.Step("Some complex thinking"))
    {
        System.Threading.Thread.Sleep(25);
    }
}
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>