@{
    ViewBag.Title = "Home Page";
    var profiler = MiniProfiler.Current;

    using (profiler.Step("Some complex thinking"))
    {
        System.Threading.Thread.Sleep(25);
    }
}
<h2>@ViewBag.Message</h2>
<p>
    <a id="make-request" href="javascript:void(0);">click me to make an ajax request</a>
</p>

<script type="text/javascript">
    $(function() {
        $('#make-request').click(function() {
            var link = $(this);
            $.get('/home/ajaxmethod', function(data) { link.parent().append($('<p/>').text(data)); });
        });
    });
</script>