<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Results from ajax requests</div>
        <div class="panel-body ajax-results">
        </div>
    </div>
    @Html.Partial("Index.ProfilerInfo")
</div>